<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<!-- Message Block -->
<% if (locals.message){} %>

<!-- Display form -->
<form action="/inv/add-classification" method="post">
    <label for="classification_name">New Classification
        <input type="text" name="classification_name" id="classification_name"  pattern="^[a-zA-Z]+$" required value="<%= locals.classification_name %>">
        <span>New classification name cannot contain a space or special character</span>
    </label>
    <button>Add</button>
</form>